---
BasedOnStyle: LLVM
IndentWidth:          4
ColumnLimit:          100
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments:   false
AlignConsecutiveDeclarations:
  Enabled: false
AlignTrailingComments:
  Kind: Always
BraceWrapping:
  AfterClass:           false
  AfterControlStatement: false
  AfterFunction:        false
  AfterNamespace:       false
  AfterStruct:          false
BreakBeforeBraces: Attach
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<[a-z_]+>$'
    Priority: 3
  - Regex:    '^<.*\.hpp>$'
    Priority: 2
  - Regex:    '.*'
    Priority: 1
SortIncludes: CaseSensitive
SpaceAfterCStyleCast:         false
SpaceBeforeParens:            ControlStatements
SpaceInEmptyParentheses:      false
Standard:                     c++23
